ul {
  position: absolute;
  list-style: none;
  top: 34px;
  right: 200px;
}
ul li {
  display: inline-block;
  padding: 81px;
  font-size: 22px;
}
a {
  position: absolute;
  color: #dfc4c6;
  text-decoration: none;
}
ul li a:hover {
  color: #c31010;
}
.head {
  position: absolute;
  top: 180px;
  right: 250px;
  font-size: 57px;
  font-weight: bold;
  color: #c31010
}
.logo {
  position: absolute;
  width: 360px;
  height: auto;
  top: 35px;
  left: 50px;
}
.a {
  position: absolute;
  width: 135px;
  height: auto;
  bottom: 10px;
  left: 770px;

}
.rectangle1 {
  position: absolute;
  width: 1680px;
  height: 165px;
  background-color: #080a21;
  top: 0px;
  left: 0px;
}
.eveimg {
  position: absolute;
  width: 280px;
  height: auto;
  top: 300px;
  left: 240px;
}
.villanelleimg {
  position: absolute;
  width: 280px;
  height: auto;
  bottom: 170px;
  left: 545px;
}
.carolynimg {
  position: absolute;
  width: 280px;
  height: auto;
  top: 300px;
  right: 545px;
}
.konstantinimg {
  position: absolute;
  width: 280px;
  height: auto;
  bottom: 170px;
  right: 240px;
}
.text {
  color: #080a21;
}
.one {
  position:absolute;
  font-weight: bold;
  font-style: oblique;
  font-size: 36px;
}
.eve {
  position: absolute;
  bottom: 155px;
  left: 240px;
}
.po {
  position: absolute;
  bottom: 290px;
}
.villanelle {
  position: absolute;
  top: 295px;
  left: 545px;
}
.ok {
  position: absolute;
  top: 415px;
}
.carolyn {
  position: absolute;
  bottom: 180px;
  right: 527px;
}
.ma {
  position: absolute;
  bottom: 295px;
  right: 560px;
}
.konstantin {
  position: absolute;
  top: 290px;
  right: 222px;
}
.ko {
  position: absolute;
  top: 425px;
  right: 345px;
}
#here {
  color: #c31010;
}
