ul {
  position: absolute;
  list-style: none;
  top: 34px;
  right: 200px;
}
ul li {
  display: inline-block;
  padding: 81px;
  font-size: 22px;
}
a {
  position: absolute;
  color: #dfc4c6;
  text-decoration: none;
}
ul li a:hover {
  color: #c31010;
}
.head {
  position: absolute;
  top: 240px;
  right: 190px;
  font-size: 57px;
  font-weight: bold;
  color: #c31010
}
.img {
  position: absolute;
  width: 600px;
  height: auto;
  top: 310px;
  left: 145px;

}
.logo {
  position: absolute;
  width: 360px;
  height: auto;
  top: 35px;
  left: 50px;
}
.a {
  position: absolute;
  width: 135px;
  height: auto;
  bottom: 10px;
  left: 770px;

}
.rectangle1 {
  position: absolute;
  width: 1680px;
  height: 165px;
  background-color: #080a21;
  top: 0px;
  left: 0px;
}
.rectangle2 {
  position: absolute;
  width: 600px;
  height: 293px;
  background-color: #c31010;
  top: 337px;
  left: 167px;
}
.rectangle3 {
  position: absolute;
  width: 800px;
  height: 300px;
  background-color: #080a21;
  top: 360px;
  right: 170px;
}
h2 {
  position: absolute;
  color: #dfc4c6;
  top: 400px;
  right: 220px;
  font-weight: lighter;
  font-size: 25px;
}
#here {
  color: #c31010;
}
